@import url('https://fonts.googleapis.com/css2?family=Jersey+25&family=Pixelify+Sans:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jersey+25&display=swap');

.jersey-25{
    font-family: "Jersey 25", sans-serif;
    font-weight: 400;
    font-style: normal;
}


nav button{
    font-family: "Jersey 25", sans-serif;
}

.pitching-line{
    font-family: "Pixelify Sans", sans-serif;
}

.Key-svg{
    display: inline;
}

.navigation-button{
    box-shadow: 0px 4px 12px 4px rgba(0, 0, 0, 0.25);
}