@import url('https://fonts.googleapis.com/css2?family=Jersey+25&family=Pixelify+Sans:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jersey+25&display=swap');


/* background: linear-gradient(257.89deg, rgba(255, 132, 0, 0.83) 25.09%, rgba(255, 248, 170, 0.83) 85.57%); */
/* Rectangle 68 */

/* background: linear-gradient(90deg, #FFF8AA 28.85%, #FF8400 100%); */

/* border-radius: 16px; */

/* Rectangle 69 */

@media only screen and (min-width: 359px){
    .home-page-bottom-mobile-svg{
        display: none;
    }

}
@media only screen and (max-width: 358px){
    .home-page-bottom-mobile-svg{
        display: flex;
        
    }
}

.SideBar{
    box-shadow: -7px 14px 7px #FBFF00;
}

/* .dialog{
    background: linear-gradient(90deg, #F4FFAA 37.44%, #f6ff00 97.12%);
    bg-linear-90 from-[#1a4bbf] to-[#020887]
    background: linear-gradient(90deg, #1a4bbf, #020887);
} */

.icon{
    display: none;
}

/* Rectangle 87 */


/* background: linear-gradient(180deg, #2F2F2F 0%, #959595 100%); */
/* border: 2px solid #FFFFFF; */
/* border-radius: 34px; */


@media only screen and (max-width:430px){
    .AppNavBar{
        padding: 6px 24px;
    }
    .icon{
        display: inline-block;
    }

    .AppNavBarBtnText{
        display: none;
    }

    .NoVaultBox{
        width: 266.66px;
        height: 200px;
    }
}


.jersey-25{
    font-family: "Jersey 25", sans-serif;
    font-weight: 400;
    font-style: normal;
}


nav button{
    font-family: "Jersey 25", sans-serif;
}

.pitching-line{
    font-family: "Pixelify Sans", sans-serif;
}

.Key-svg{
    display: inline;
}

.navigation-button{
    box-shadow: 0px 4px 12px 4px rgba(0, 0, 0, 0.25);
}