<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/output.css">

    <!-- Internal CSS -->
    <style>
        nav{
            box-shadow: 0px 4px 14px 0px rgba(0,0,0,0.25);
        }
    </style>
</head>
<body>
    <div class="Navigation flex justify-center p-0 m-0 shadow">
        <nav class="h-[123px] w-[1395px] max-w-[1395px] m-[19px] py-[32px] px-[39px] border-4 border-[#a6a6a6] rounded-[36px] bg-[#f2f2f2] flex justify-between">
            <div class="My-vault">
                <ul>
                    <a href="#" class="decoration-0 text-black text-center list-none p-[12px] border-0 rounded-[36px] bg-[#ebebeb]"><li>My Vault</li></a>
                </ul>
            </div>
            <div class="sign-in-sign-up">
                <ul>
                    <a href="#" class="decoration-0 text-black text-center list-none"><li></li></a>
                    <a href="#" class="decoration-0 text-black text-center list-none"><li></li></a>
                </ul>
            </div>
        </nav>
    </div>
</body>
</html>